[core]
	excludesfile = /Users/thomashasenzagl/Dropbox/dotfiles/git/.gitignore_global
	excludefiles = /Users/thomashasenzagl/dropbox/dotfiles/git/.gitignore_global
[user]
	email = thomas.hasenzagl@gmail.com
[credential]
	helper = osxkeychain
[http]
	postBuffer = 157286400
[https]
	postBuffer = 2097152000
